<main class="container">
  <div class="card text-center">
  <div class="card-header">
    Ose savoir
  </div>
  <div class="card-body">
    <h5 class="card-title">Andria RAZAKANDREMA</h5>
    <p class="card-text">Encore entrain de chercher le code pour finir THP</p>
    <a href="#www.upt.mg" class="btn btn-primary">Site préféré</a>
  </div>
  <div class="card-footer text-muted">
    Je donne pour que tu donnes!
  </div>
</div>
</main>
